{% extends 'base.html.twig' %}

{% block title %}LillyDoo Address Book{% endblock %}

{% block stylesheets %}
    {# for animating components #}
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    {# for showing icons #}
    <link rel="stylesheet" href="{{ asset('css/icons.css') }}">
    {# for changing appearance of Dropzone - original file #}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
    {# for classes in TWIG #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    {# for enlarging the contact image size #}
    <link rel="stylesheet" href="{{ asset('css/lity.css') }}">
    {# my personal styles for overriding certain other styles #}
    <link rel="stylesheet" href="{{ asset('css/myStyles.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid ">
        {# page loader #}
        {% include 'partials/page-loader.html.twig' %}
        {# Backdrop #}
        {% include 'partials/back-drop.html.twig' %}
        <div id="main" class="row p-4 mt-5 animate__animated animate__slideInRight animate__delay-3s">
            <div class="col-3 col-md-6"></div>
            {# to this tab, modal controller is linked #}
            <div class="col-9 col-md-6" x-data="modalController()">
                <!-- Tab links -->
                {% include 'partials/tab-navs.html.twig' %}
                <!-- Tab panes -->
                {% include 'partials/tab-panes.html.twig' %}
                <!-- Flash toast -->
                {% include 'partials/flash-message.html.twig' %}
                {# Modal box #}
                {% include 'partials/modal-box.html.twig' %}

            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {# alpine js to control data binding process #}
    <script defer src="{{ asset('js/alpine.js') }}"></script>
    {# axios js to control data sending and receiving process #}
    <script src="{{ asset('js/axios.js') }}"></script>
    {# dropzone js to control uploading file process #}
    <script src="{{ asset('js/dropzone.js') }}"></script>
    {# jQuery for BS4 & myScripts #}
    <script src="{{ asset('js/jQuery.js') }}"></script>
    {# lity for contact image size change #}
    <script src="{{ asset('js/lity.js') }}"></script>
    {# BS4 js file for components #}
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {# my personal fns for various events #}
    <script src="{{ asset('js/myScripts.js') }}"></script>
{% endblock %}
