{# the second list in accordion #}
<div class="row">
    {# the first set of inputs #}
    <div class="col-6 form-group">
        <label for="form_zip">Zip Code:</label>
        <input type="text" class="form-control" id="form_zip" name="zip" placeholder="Postal code">
    </div>
    <div class="col-6 form-group">
        <label for="form_country">Country:</label>
        <select class="form-control add-contact" id="form_country" name="country">
            <option>select country</option>
            {% for code, state in country %}
                <option value="{{ code }}">{{ state }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row">
    {# the second set of inputs #}
    <div class="col-6 form-group">
        <label for="form_city">City:</label>
        <textarea type="text" class="form-control" id="form_city" rows="5" name="city"
                  aria-describedby="emailHelp" placeholder="city"></textarea>
    </div>
    <div class="col-6 form-group">
        <label for="form_street">Street:</label>
        <textarea type="text" class="form-control" id="form_street" rows="5"
                  name="street" aria-describedby="emailHelp" placeholder="street & number"></textarea>
    </div>
</div>