{# offline backdrop that can be shown manually or automatically when internet is lost #}
<div>
    {# text and image #}
    <div id="backdrop" class="animate__animated animate__slideInDown animate__slow">
        <div class="mx-auto d-block h-50 mt-5 pt-5 text-center">
            <h2 class="font-weight-bold"> CURRENTLY OFFLINE</h2>
            <img src="{{ asset('images/offline.png') }}" class="mx-auto d-block h-50" alt="">
        </div>
    </div>
    {# manual buttons #}
    <button id="close-button" class="btn btn-backdrop animate__animated animate__fadeInDownBig animate__delay-4s">
        C L <i class="fa fa-frown-o" aria-hidden="true"></i> S E
    </button>
    <button id="open-button" class="btn btn-backdrop btn-backdrop-open">
        <i class="fa fa-smile-o " aria-hidden="true"></i> P E N
    </button>
</div>