{# the first tab to save contact #}
<div class="tab-pane container active" id="new">
    {# topmost message #}
    <header class="py-2 mt-2">
        <h6 class="color-black">Click on the following icons to add a new contact</h6>
        <hr/>
    </header>
    {# controller of the first set of inputs #}
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        <i class="fa fa-user fa-lg" aria-hidden="true"
                           title="+ add personal data"></i>
                        <hr>
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                {# form starts here - controlled by FormController #}
                {{ form_start(form, {'enctype': 'multipart/form-data'}) }}
                {# first set of inputs included #}
                {% include 'partials/personal-data.html.twig' %}
            </div>
        </div>
        {# controller of the second set of inputs #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <i class="fa fa-map-marker fa-lg" aria-hidden="true"
                           title="+ add address data"></i>
                        <hr>
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                {# second set of inputs included #}
                {% include 'partials/address-data.html.twig' with {'country': country} %}
            </div>
        </div>
        {# controller of image upload #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        <i class="fa fa-camera" aria-hidden="true" title="+ add an image"></i>
                        <hr>
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                {# image uploader #}
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="myDropzone">Photo:</label>
                        <div class="dropzone" id="myDropzone"></div>
                    </div>
                    <div class="col-6 form-group"></div>
                </div>
            </div>
        </div>
    </div>
    <button class=" btn btn-custom w-25 mt-5 p-2" type="submit">
        <i class="fa fa-check-square fa-lg" aria-hidden="true"></i>
    </button>
    {# form ends here - controlled by FormController #}
    {{ form_end(form) }}
</div>
