{# check to see if any flash message exists #}
{% for message in app.flashes('message') %}
    {# HTML div of toast #}
    <div id="toast" class="message animate__animated animate__delay-4s animate__bounceIn">
        <div class="mb-4">
            <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i>
            <button type="button" class="ml-2 mb-1 close" id="button">&times;</button>
        </div>
        <p>{{ message | raw }}</p>
    </div>

    {# JS event listener to be closed by user #}
    <script>
        document.getElementById("button").addEventListener("click", function () {
            document.getElementById("toast").style.display = 'none';
        })
    </script>
{% endfor %}