{# modal box of show, edit, and delete in the second tab pane #}
<div x-show="open">
    <!-- Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog  modal-lg modal-dialog-centered">
            {# check the type of modal and change class - controlled by Alpine.JS file #}
            <div :class="update ? modalContentEdit :  del ? modalContentDel : modalContentShow">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" @click="closeModal">&times;</button>
                </div>

                <!-- Modal body -->
                {# check the type of modal and change class - controlled by Alpine.JS file #}
                <div :class="update ? modalBodyEdit : del ? modalBodyDel : modalBodyShow">
                    <div class="row">
                        <div class="col-4">
                            <div x-show="!update">
                                <img :class="!image ? 'image-profile d-block mx-auto img-fluid' : ''"
                                     src="{{ asset('images/avatar.png') }}"
                                     alt="avatar image" x-show="!image">
                                <template x-if="image">
                                    <img class="px-0 rounded my-5 pointer contact-image" x-bind:src="image"
                                         alt="contact image" title="click to enlarge the contact image" data-lity>
                                </template>
                            </div>
                            <div x-show="update">
                                <img :class="!image ? 'image-profile d-block mx-auto img-fluid' : ''"
                                     src="{{ asset('images/avatar.png') }}"
                                     alt="avatar image" x-show="!image">
                                <template x-if="image">
                                    <img class="px-0 rounded my-5 pointer contact-image" x-bind:src="image"
                                         alt="contact image" title="click to enlarge the contact image" data-lity>
                                </template>
                                <div class="dropzone dropzone-edit" id="editDropzone" x-bind:action="url"></div>
                            </div>
                        </div>
                        <div class="col-8 ">
                            {# content of model to show contact info #}
                            <div x-show="!del">
                                <div class="table-responsive-sm" x-show="!update">
                                    <table class="font-weight-light font-size-small">
                                        <tr>
                                            <th class="font-italic text-dark">First name:</th>
                                            <th class="text-center" x-text="name"></th>
                                        </tr>
                                        <tr>
                                            <th class="font-italic text-dark">Last name</th>
                                            <th class="text-center" x-text="lastName"></th>
                                        </tr>
                                        <tr>
                                            <th class="font-italic text-dark">Birth</th>
                                            <th class="text-center" x-text="birth"></th>

                                        </tr>
                                        <tr>
                                            <th class="font-italic text-dark">Phone</th>
                                            <th class="text-center" x-text="phone"></th>

                                        </tr>
                                        <tr>
                                            <th class="font-italic text-dark">Email</th>
                                            <th class="text-center" x-text="email"></th>

                                        </tr>
                                        <tr>
                                            <th class="font-italic text-dark">City</th>
                                            <th class="text-center" x-text="city"></th>
                                        </tr>
                                        <tr>
                                            <th class="font-italic text-dark">Country</th>
                                            {% for code, state in country %}
                                                <th class="text-center" x-show="country == {{ code | json_encode }}">
                                                    {{ state }}
                                                </th>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <th class="font-italic text-dark">Street</th>
                                            <th class="text-center" x-text="street"></th>

                                        </tr>
                                        <tr>
                                            <th class="font-italic text-dark">Zip code:</th>
                                            <th class="text-center" x-text="zip"></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            {# content of model to edit contact info #}
                            <div class="row" x-show="update">
                                <div class="col-6">
                                    <label for="name">First name</label>
                                    <input type=text class="form-control" name="name" id="name" x-model="name">
                                    <label for="lastName">Last name</label>
                                    <input type="text" class="form-control" name="lastName" id="lastName"
                                           x-model="lastName">
                                    <label for="birth">Birth</label>
                                    <input type="date" class="form-control" name="birth" id="birth" x-model="birth">
                                    <label for="phone">Phone</label>
                                    <input type="tel" class="form-control" name="phone" id="phone" x-model="phone">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" name="email" id="email" x-model="email">
                                </div>
                                <div class="col-6">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control" name="city" id="city" x-model="city">
                                    <label for="country">Country</label>
                                    <select class="form_country edit-contact" id="country" name="country"
                                            x-model="country">
                                        {% for code, state in country %}
                                            <option x-show="country == {{ code | json_encode }}" value="{{ code }}"
                                                    selected>
                                                {{ state }}
                                            </option>
                                            <option value="{{ code }}">{{ state }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="street">Street</label>
                                    <textarea class="form-control" name="street" id="street" x-model="street">
                                    </textarea>
                                    <label for="zip">Zip</label>
                                    <input class="form-control" name="zip" id="zip" x-model="zip">

                                </div>
                            </div>
                            {# content of model to delete contact info #}
                            <div class="row p-5" x-show="del">
                                <p class="text-justify"> You are about to delete
                                    <span class="text-dark font-weight-bold" x-text="name"> </span>
                                    <span class="text-dark font-weight-bold" x-text="lastName"></span>
                                    from your address book; are you sure?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    {# buttons of model footer to edit contact info #}
                    <button type="button" class="btn modal-edit" @click="edit()" x-show="update">Update</button>
                    {# buttons of model footer to delete contact info #}
                    <button type="button" class="btn modal-del" @click="destroy()"
                            x-show="del">Sure <i class="fa fa-smile-o" aria-hidden="true"></i>
                    </button>
                    <button type="button" :class="update ? modalButtonEdit :  del ? modalButtonDel : modalButtonShow"
                            @click="closeModal" data-dismiss="modal">
                                 <span x-show="del">No <i class="fa fa-frown-o" aria-hidden="true"></i> </span>
                     {# buttons of model footer to close #}
                                   <span x-show="!del">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>