{# the complete set of page loader #}
<div class="preloader animate__animated animate__fadeOut animate__delay-2s">
    {# the main brand #}
    <h1 class="text-light text-center mx-auto pt-5 mt-5 animate__animated animate__bounceIn"> LILLYDOO </h1>
    {# the main logo #}
    <div class="psoload">
        <div class="straight"></div>
        <div class="curve"></div>
        <div class="center"></div>
        <div class="inner"></div>
    </div>
</div>
