{# content of the first set of inputs #}
<div class="row">
    <div class="col-6 form-group">
        <label for="form_name">First Name:</label>
        <input type="text" class="form-control" id="form_name" name="name"
               aria-describedby="emailHelp" placeholder="first name">
    </div>
    <div class="col-6 form-group">
        <label for="form_lname">Last Name:</label>
        <input type="text" class="form-control" id="form_lname" name="lname"
               placeholder="last name">
    </div>
</div>
<div class="row">
    <div class="col-6 form-group">
        <label for="form_birth">Birthday:</label>
        <input type="date" class="form-control" id="form_birth" name="birth"
               aria-describedby="emailHelp">
    </div>
    <div class="col-6 form-group"></div>
</div>
<div class="row">
    <div class="col-6 form-group">
        <label for="form_phone">Phone:</label>
        <input type="tel" class="form-control" id="form_phone" name="phone"
               aria-describedby="emailHelp" placeholder="phone number">
    </div>
    <div class="col-6 form-group">
        <label for="form_email">Email:</label>
        <input type="email" class="form-control" id="form_email" name="email"
               placeholder="email">
    </div>
</div>