{# the second tab to show contact #}
<div class="tab-pane container fade box-shadow" id="book">
    {# list controllers to sort and refresh #}
    <div class="float-left">
        <button class="btn btn-sm btn-order pointer" @click="search('reset')" title="reset search/contact list">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
        <button class="btn btn-sm btn-order pointer" @click="sortTable('asc')" title="sort from A to Z">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
        </button>
        <button class="btn btn-sm btn-order pointer" @click="sortTable('des')" title="sort from Z to A">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
        </button>
    </div>
    <table class="table table-bg table-hover" id="myTable">
        <thead>
        <tr class="bg-head-table">
            {# list controllers to search #}
            <th colspan="2">
                <label for="myInput"></label>
                <input class="form-control mx-auto" type="text" id="myInput" placeholder="Search contact name.."
                       @keyup="search()">
            </th>
        </tr>
        </thead>
        {# list content of contacts in a table #}
        <tbody id="test">
        {% for contact in contacts %}
            <tr>
                <td> {{ contact.fname }} {{ contact.lname }} </td>
                <td colspan="3">
                    <div class="float-right btn-group">
                        <button type="button" class="btn btn-secondary mx-1" title="view" data-id="{{ contact.id }}"
                                @click="view($el)"><i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-black mx-1" title="edit" data-edit="{{ contact.id }}"
                                @click="view($el); changeUrl({{ contact.id | json_encode }})">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-danger  mx-1" title="delete" data-delete="{{ contact.id }}"
                                @click="view($el)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>




