{# controller of first and second tabs #}
<ul class="nav nav-tabs">
    {# first #}
    <li class="nav-item w-50">
        <a class="nav-link active font-weight-bold" data-toggle="tab" href="#new">
            <h3>
                <i class="fa fa-plus-square" aria-hidden="true"></i>
            </h3>
        </a>
    </li>
    {# second #}
    <li class="nav-item w-50">
        <a class="nav-link font-weight-bold" data-toggle="tab" href="#book">
            <h3>
                <i class="fa fa-address-book" aria-hidden="true"></i>
            </h3>
        </a>
    </li>
</ul>