{# content of first and second tabs included #}
<div class="tab-content shadow-lg rounded">
    {% include 'partials/first-tab.html.twig' with {'country': country} %}
    {% include 'partials/second-tab.html.twig' %}
</div>
