{# main architecture of base homepage #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Arash Rostami"/>
    {# logo of LIllyDoo #}
    <link rel="shortcut icon" href="{{ asset('images/bird.jpg') }}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
