
body {
    background: url('../images/calender-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.table-css {
    background-color: #666666;

}

a {
    color: black;
}

a:hover {
    color: white;
    background-color: #3B3B3B;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .btn-custom {
    color: #C7CCD1;
    background-color: rgb(46, 46, 46, 0.75);;
    border-color: #000000;
}

.btn-order {
    background-color: #C7CCD1;
    padding: 0 10px 0 10px;
    margin: 5px;
}

#backdrop {
    background: #82BEFE;
    display: none;
    position: absolute;
    z-index: 100;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn-backdrop {
    color: #C7CCD1;
    background-color: rgb(46, 46, 46, 0.75);
    border-color: #000000;
    position: fixed;
    z-index: 100;
    top: 1%;
    right: 1%;
}

.btn-backdrop-open {
    display: none;
}

.color-black, label {
    color: #000000;
    font-style: italic;
}

input[type="date"], select.add-contact {
    color-scheme: dark;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    margin-right: 2px;
    opacity: 0.8;
    filter: invert(0.8);
}

select.add-contact option {
    background: #2E2E2E;
    color: #fff;
}

select.add-contact option:hover {
    color: #000;
    box-shadow: inset 20px 20px #00f;
}

.message {
    color: white;
    font-size: medium;
    font-style: italic;
    background-color: rgb(46, 46, 46, 0.5);
    position: absolute;
    top: 12% !important;
    right: 0;
    padding: 10px;
}

.table-bg {
    background-color: rgb(46, 46, 46, 0.8);
    color: #ffffff;
    text-align: justify;
}

.bg-head-table {
    background-color: rgb(46, 46, 46, 0.1);
}


.btn-black {
    background-color: #9994b6;
}

.dropzone {
    border-radius: 5px;
    background-color: #3A3A3A;
    color: black;
}

.dropzone-edit {
    border-radius: 5px;
    background-color: #9994B6;
    color: black;
    margin-top: 10%;
}

#myInput {
    background-image: url('../images/search.png');
    background-position: right 8px;
    background-repeat: no-repeat;
    width: 75%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.contact-image {
    max-width: 100%;
    max-height: 100%;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

.show-mod {
    background-color: #6c7d74;
    border: 2px solid #4c5751;
}

.edit-mod {
    background-color: #534c57;
    border: 2px solid #4c5751;
}

.del-mod {
    background-color: #C3B3B3;
    border: 2px solid #4c5751;
}

.modal-body-show {
    background-color: #4c5357;
    color: #000000;
}

.modal-body-edit {
    background-color: #38353d;
    color: #000000;
}

.modal-body-del {
    background-color: #887d7d;
    color: #ffffff;
}

.modal-btn-show {
    background-color: #4c5357;
}

.modal-btn-edit {
    background-color: #9994B6;
}

.modal-btn-del {
    background-color: #b391a0;
}

.modal-edit {
    background-color: #b69894;
}

.modal-del {
    background-color: #ffcfdc;
}

.image-profile {
    max-width: 60%;
}

select.edit-contact {
    max-width: 100%;
    padding: 5px;
}

select.edit-contact:hover, select.edit-contact:active {
    color-scheme: dark;
}

.preloader {
    background: #242424;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.psoload,
.psoload *,
.psoload *:before,
.psoload *:after {
    box-sizing: border-box;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.psoload {
    position: relative;
    margin: 30px auto;
    height: 150px;
    width: 150px;
}

.psoload .straight,
.psoload .curve {
    position: absolute;
    top: 17.5%;
    left: 17.5%;
    width: 65%;
    height: 65%;
    border-radius: 100%;
    animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1) infinite;
    -webkit-animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1) infinite;
}

.psoload .straight:before,
.psoload .straight:after {
    content: '';
    position: absolute;
    width: 15%;
    border-bottom: 3px solid #eee;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.psoload .straight:before {
    top: 5px;
    left: 5px;
}

.psoload .straight:after {
    bottom: 5px;
    right: 5px;
}

.psoload .curve:before,
.psoload .curve:after {
    content: '';
    position: absolute;
    width: 45px;
    height: 10px;
    border: solid 3px transparent;
    border-top-color: #eee;
    border-radius: 50%/10px 10px 0 0;
    z-index: 90001;
}

.psoload .curve:before {
    transform: rotate(-63deg) translateX(-27px) translateY(-4px);
    -webkit-transform: rotate(-63deg) translateX(-27px) translateY(-4px);
}

.psoload .curve:after {
    bottom: 5px;
    right: 5px;
    transform: rotate(115deg) translateX(-26px) translateY(-12px);
    -webkit-transform: rotate(115deg) translateX(-26px) translateY(-12px);
}

.psoload .center {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    border-radius: 100%;
    border: 3px solid #eee;
}

.psoload .inner {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1) infinite reverse;
    -webkit-animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1) infinite reverse;
}

.psoload .inner:before,
.psoload .inner:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-width: 11px;
    border-bottom-color: #eee;
}

.psoload .inner:before {
    top: 12px;
    left: 12px;
    transform: rotate(128deg);
    -webkit-transform: rotate(128deg);
}

.psoload .inner:after {
    bottom: 12px;
    right: 12px;
    transform: rotate(-48deg);
    -webkit-transform: rotate(-48deg);
}

@keyframes arrow-spin {
    100% {
        transform: rotate(179deg);
    }
}

@-webkit-keyframes arrow-spin {
    100% {
        -webkit-transform: rotate(179deg);
    }
}


@media only screen and (max-width: 600px) {
    .message {
        font-size: small;
    }

    .table-bg {
        font-size: small;
    }

    .image-profile {
        max-width: 100%;
    }
}

